{% extends 'main.html' %} {% block title %}The Agency{% endblock %} {% block
content %}
<div class="row">
  <div class="col-sm-6">
    <h1>The Agency</h1>
    <p class="lead">Connecting filmmakers and actors</p>
    <h3>
      <a href="/projects"
        ><button class="btn btn-dark">Find a project</button></a
      >
      <a href="/projects/create"
        ><button class="btn btn-default btn-lg">Post a project</button></a
      >
    </h3>
    <h3>
      <a href="/actors"><button class="btn btn-dark">Find an actor</button></a>
      <a href="/actors/create"
        ><button class="btn btn-default btn-lg">Post a profile</button></a
      >
    </h3>
  </div>
  <div class="col-sm-6 hidden-sm hidden-xs">
    <img
      id="front-splash"
      src="https://answersforactors.files.wordpress.com/2009/05/talent-agency.jpg?w=584&h=314"
      alt="The Agency"
    />
  </div>
</div>
{% endblock %}
